  .site-blocks-table {
      overflow: auto;
  }

  .product-thumbnail img {
      width: 4rem;


  }

  .Cart-box {
    background-color: #f8f8f8;
  }
  .cart-btn{
    box-shadow: 1px 1px 5px black;
    width: 100%;
    
    font-family: sans-serif;
    border-radius: 5px;
  }
  .cart-btn:hover{
    background-color: #8019c8;
    color: white;
  }
 
 