.img-box img {
    text-align: center;
    height: 65px;
}

.detail-box {
    text-align: center;
    box-sizing: border-box;
}

h5 {
    margin-top: 15px;
    font-size: 1.25rem;
    font-weight: bold;
}

.service {
    background-color: #f8f8f8;
    padding-top: 4rem;
}